.card-offers{
  background-image: url("../images/bg-offers.png");
  background-repeat: no-repeat;
  padding: 24px 0 21px 24px;
  position: relative;
  border-radius: 4px;
  padding-bottom: 100px;
}

.card-offers__title{
  font-weight: bold;
  font-size: 20px;
  color: white;
  letter-spacing: 0.25px;
  line-height: 26px;
  text-transform: uppercase;
  margin: 0;
}
.card-offers__product{
  font-weight: 600;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.5px;
  color: #4cd2fe;
  margin: 7px 0 29px 0;

  &--long{
    margin-bottom: 15px;
  }
}

.card-offers__link{
  display: block;
  width: 25px;
  height: 25px;
  cursor: pointer;
  //margin-top: 55px;
  &::before{
    content: '';
    display: block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #1d1e1e;
    background-image: url("../images/arrow-offers.png");
    background-repeat: no-repeat;
    background-position: 10px 7px;
  }
}

.card-offers__image{
  position: absolute;
  top: 0;
  right: 0;
  &--first{
    top: 15px;
    right: -18px;
  }

  &--second{
    top: -5px;
    right: -19px;
  }

  &--third{
    top: -32px;
  }
}

.card-offers__shadow{
  position: absolute;
  z-index: -1;
  top: 72px;
  left: 20px;
  width: 222px;
  height: 100px;
  display: inline-block;
  box-shadow: 0 10px 20px #cbcbcb;
}