.news-card{
  width: 360px;
  position: relative;
  margin: 0 auto;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 18px 21px #ebebeb;
  &:hover{
    box-shadow: 0 18px 21px #d6d6d6;
  }
  &:focus{
    box-shadow: 0 18px 21px #d6d6d6;
  }
}
.news-card__date{
  position: absolute;
  top:0;
  left: 0;
  background-color: #1d1e1e;
  font-weight: 600;
  font-size: 13px;
  line-height: 22px;
  letter-spacing: 1px;
  color: white;
  padding: 11px 15px 10px 12px;
  border-radius: 4px;
}
.news-card__text-block{
  padding: 22px 38px 24px 22px;
  background-color: white;
  margin: -7px;
}

.news-card__title{
  font-weight: 800;
  color: #1d1e1e;
  font-size: 16px;
  line-height: 25px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin: 0;
}

.news-card__text{
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 0.25px;
  line-height: 22px;
  color: #1d1e1e;
  opacity: 0.6;
  margin: 10px 0 20px;
}
.news-card__link{
  font-weight: bold;
  font-size: 10px;
  color: #0295d5;
  text-transform: uppercase;
  text-decoration: underline;
  letter-spacing: 2px;
}