.sale{
  width: 1140px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding-top: 58px;
}
.sale-card{
  width: 514px;
  padding: 41px 0 42px 41px;
  background-image: url("../images/bg-sale-card.png");
  background-repeat: no-repeat;
  position: relative;
}

.sale-card__shadow{
  position: absolute;
  z-index: -1;
  top:0;
  left: 108px;
  width: 340px;
  height: 279px;
  display: inline-block;
  box-shadow:0 10px 20px #cbcbcb;
}
.sale-card__title{
  font-size: 48px;
  margin: 0;
  font-weight: 800;
  color: white;
  line-height: 52px;
  letter-spacing: 0.25px;
}

.sale-card__benefit{
  position: absolute;
  top: 55px;
  left: 135px;
  text-align: end;
}

.sale-card__date{
  font-weight: 600;
  font-size: 22px;
  line-height: 30px;
  letter-spacing: 0.25px;
  color: #5dd5fe;
  margin: 0;
}

.sale-card__percent{
  font-weight: 800;
  font-size: 95px;
  line-height: 130px;
  color: white;
  opacity: 0.22;
  margin: 65px 0 0 0;
}

.sale-card__image{
  position: absolute;
  top:-10px;
  left: 365px;

  &--katushka{
    top: 26px;
    left: 320px;
  }
}

.sale-card__link{
  display: block;
  width: 37px;
  height: 37px;
  cursor: pointer;
  margin-top: 55px;
  &::before{
    content: '';
    display: block;
    width: 37px;
    height: 37px;
    border-radius: 50%;
    background: #1d1e1e;
    background-image: url("../images/link.png");
    background-repeat: no-repeat;
    background-position: 15px 12px;
  }
}